@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: whitesmoke;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

div.footer-background{
  background-color: gray;
}

div#socio-container{
  position:relative; 
  left:50%;
  transform: translate(-50%);
}

.btn-pos{
  position:relative; 
  left:50%;
  transform: translate(-50%);
}